{
  "plugins": [
    "transform-es2015-modules-commonjs",
    "transform-flow-strip-types"
  ],
  "env": {
    "development": {
      "presets": [
        "es2015",
        "react",
        "stage-0"
      ]
    },
    "production": {
      "presets": [
        "es2015",
        "react",
        "stage-0",
        "react-optimize"
      ]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"],
      "presets": [
        "es2015",
        "react",
        "stage-0"
      ]
    }
  }
}
