{
  "plugins": ["transform-flow-strip-types"],
  "presets": [
    "es2015-webpack",
    "react",
    "stage-0"
  ],
  "env": {
    "production": {
      "presets": [
        "es2015-webpack",
        "react",
        "stage-0",
        "react-optimize"
      ]
    }
  },
}
