{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": [
    "react",
    "import",
    "flow-vars"
  ],
  "rules": {
    "arrow-body-style": [2, "as-needed"],
    "arrow-parens": [0],
    "comma-dangle": [2, "always-multiline"],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "import/newline-after-import": 0,
    "import/no-extraneous-dependencies": 0,
    "import/imports-first": 0,
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "import/no-unresolved": [2],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "key-spacing": [0, {
      "singleLine": {
        "beforeColon": false,
        "afterColon": true
      },
      "multiLine": {
        "beforeColon": true,
        "afterColon": true,
        "align": "colon",
        "mode": "minimum"
      }
    }],
    "lines-around-comment": [2, {
      "beforeBlockComment": true,
      "beforeLineComment": true,
      "allowObjectStart": true,
      "allowObjectEnd": true,
      "allowArrayStart": true,
      "allowArrayEnd": true
    }],
    "max-len": [1, 120],
    "newline-per-chained-call": [2, {
      "ignoreChainWithDepth" : 2
    }],
    "no-console": 0,
    "no-multi-spaces" : 0,
    "no-multiple-empty-lines" : [2, {"max" : 3}],
    "no-trailing-spaces" : 0,
    "no-use-before-define": 0,
    "no-mixed-operators": 0,
    "no-prototype-builtins": 0,
    "no-lonely-if": 0,
    "no-continue": 0,
    "object-property-newline" : 2,
    "padded-blocks": 0,
    "prefer-template": 0,
    "react/prop-types": 0,
    "require-jsdoc": [0, {
      "require": {
        "FunctionDeclaration": true,
        "MethodDefinition": true,
        "ClassDeclaration": false
      }
    }],
    "valid-jsdoc": [0, {
      "requireReturn": false,
      "requireReturnDescription": false,
      "matchDescription": ".+"
    }]
  },
  "globals": {
    "__CLIENT__": true,
    "__SERVER__": true,
    "__DEVELOPMENT__": true,
    "__PRODUCTION__": true,
    "__CARDS__": true,
    "__REVISION__": true,
    "__BUILD_DATE__": true,
    "describe": true,
    "it": true,
    "expect": true
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./internals/webpack/webpack.prod.js"
      }
    }
  }
}
