<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="manifest" href="/manifest.json">
    <title>Prototype</title>
  </head>
  <body>
    <div id="app"><%- renderedContent %></div>
    <script>window.__INITIAL_STATE__ = <%- initialState %>;</script>
    <script>window.__PRELOADED_DATA__ = <%- preloadedData %>;</script>
  </body>
</html>
